[access "refs/*"]
	owner = group user/Stratos Gerakakis (stratosgear)
[access "refs/for/refs/*"]
	read = group user/Stratos Gerakakis (stratosgear)
	push = group user/Stratos Gerakakis (stratosgear)
	label-Code-Review = -2..+2 group user/Stratos Gerakakis (stratosgear)
	label-Verified = -1..+1 group user/Stratos Gerakakis (stratosgear)
	rebase = group user/Stratos Gerakakis (stratosgear)
	removeReviewer = group user/Stratos Gerakakis (stratosgear)
	submit = group user/Stratos Gerakakis (stratosgear)
[access "refs/heads/*"]
	read = group user/Stratos Gerakakis (stratosgear)
	create = group user/Stratos Gerakakis (stratosgear)
	push = +force group user/Stratos Gerakakis (stratosgear)
	pushMerge = group user/Stratos Gerakakis (stratosgear)
[access "refs/tags/*"]
	push = +force group user/Stratos Gerakakis (stratosgear)
	pushTag = group user/Stratos Gerakakis (stratosgear)
	pushSignedTag = group user/Stratos Gerakakis (stratosgear)
